SERVER_PORT=8000
PUBLIC_BASE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
SUPPORT_EMAIL=support@artmes.com
DATABASE_URL=
ACCESS_TOKEN_SECRET=
REDIS_URL=redis://127.0.0.1:6379

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=Artmes <no-reply@artmes.test>
